/******************************************************************************/
                                  /*GENERAL*/
/******************************************************************************/

* {
  box-sizing: border-box;
  /*border: 1px solid #000;*/
}

body {
  height: 100%;
  width: 80%;
  margin: 0 10%;
  padding: 0;
}

h2 {
  text-align: center;
}



/******************************************************************************/
                               /*CEILING MENU*/
/******************************************************************************/

#ceiling-menu {
  display: block;
  width: 100%;
  height: 60px;
  text-align: right;
  background-color: #FFD300;
}

#ceiling-menu a {
  height: 50%;
  width: 10%;
  margin: 25% auto;
  padding: 0;
  clear: left;
  text-decoration: none;
  text-align: center;
  border: 1px solid #000;
}

#ceiling-menu img {
  radius: 100%;
}



/******************************************************************************/
                               /*PRODUCT DESCRIPTION*/
/******************************************************************************/

.nunuhub-logo {
  height: 215px;
  width: 215px;
  margin: .5% 42%;
  padding: 0;
}


/******************************************************************************/
                               /*PRODUCT DESCRIPTION*/
/******************************************************************************/

.product-demo {
  height: 250px;
  width: 100%;
}

.product-demo h2{
  margin: 0;
  padding: 0;
}

.product-demo h3{
  height: 10%;
  margin: 0 0;
  padding: 0;
}

.feature {
  height: 80%;
  width: 35%;
  text-align: center;
  margin: .75% 7%;
  padding: 0;
  display: inline-block;
  clear: left;
}
